---
import Navbar from '../components/Navbar.astro';
import { ViewTransitions } from 'astro:transitions';
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Kiki Bar</title>
    <link rel="stylesheet" href="/src/styles/global.css">
    <ViewTransitions />
</head>
<body>
    <Navbar />
    <main>
        <slot />
    </main>
</body>
</html>
